<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sh.lynn.hz.developbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".deginpattern.PatternTypeActivity">
        </activity>
        <activity
            android:name=".deginpattern.PatternActivity"
            android:label="@string/title_activity_singleton"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".uieffect.UIEffectActivity"
            android:label="@string/title_activity_uieffect"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".BaseActivity">
        </activity>
        <activity
            android:name=".uieffect.appbar.ColToolBarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".uieffect.listview.ListActivity"
            android:label="下拉刷新">
        </activity>
        <activity android:name=".netframe.NetFrameActivity">
        </activity>
    </application>

</manifest>